@font-face {
  font-family: 'Lato Regular';
  src: url("/public/fonts/lato_regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Bold';
  src: url("/public/fonts/lato_bold.ttf");
  font-weight: bold;
  font-style: normal;
}

html,
body {
  height: 100%;
  font-size: 62.5%;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  font: 1.8rem "Lato Regular", sans-serif;
  max-width: 1920px;
  margin: 0 auto;
}

.link-btn {
  color: #fff;
  border: 1px solid #ffd204;
  padding: 1rem 4rem;
  font-size: 1.8rem;
  cursor: pointer;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.container-block {
  max-width: 1500px;
  margin: 0 auto;
}

.title {
  font: 6rem "Lato Bold", sans-serif;
  line-height: 1;
}

.title-center {
  text-align: center;
}

.title-left {
  text-align: left;
}

.title-padding {
  padding: 4rem 0;
}

.title-white {
  color: #fff;
}

.title-underline {
  position: relative;
  padding-bottom: 4rem;
}

.title-underline:after {
  content: '';
  position: absolute;
  display: block;
  width: 80px;
  height: 2px;
  background: #ffd204;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.title-underline-left:after {
  content: '';
  left: 0;
  bottom: 0;
  margin-left: 0;
}

.blue-grad::after {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1c3f9591), to(transparent));
  background-image: linear-gradient(to top, #1c3f9591, transparent);
  background-color: rgba(0, 105, 143, 0.3);
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  display: block;
  padding: 2rem 6rem 2rem 0;
}

.logo-header {
  background: #fff;
  position: relative;
}

.logo-header__descr {
  position: absolute;
  font-size: 1.2rem;
  bottom: 12%;
  right: 22%;
}

.header-navbar {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, white), color-stop(50%, #1c3e95));
  background: linear-gradient(to right, white 50%, #1c3e95 50%);
}

.header-navbar__link {
  padding: 0 !important;
  position: relative;
  color: #ffffff;
  opacity: .5;
  -webkit-transition: .5s;
  transition: .5s;
}

.header-navbar__link:hover {
  color: #ffffff;
  opacity: 1;
}

.header-navbar__link:hover:after {
  color: #ffffff;
  opacity: 1;
}

.header-navbar__link:after {
  content: '';
  position: absolute;
  display: block;
  height: 3px;
  background: #ffd204;
  width: 100%;
  opacity: 0;
  margin-top: 10px;
}

.navbar-toggler-icon {
  background: #1c3f95;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 5px;
  overflow: hidden;
  border: 2px solid #ffd204;
}

.header-navbar__line {
  height: 2px;
  width: 100%;
  background: #ffd204;
}

.navbar {
  padding: 0;
  background: #1c3f95;
}

.navbar-nav-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  white-space: nowrap;
  padding: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.phone__numbers {
  width: 100%;
  background: #153072;
}

.phone__link {
  color: #7698ec;
  font: 1.6rem "Lato Regular", sans-serif;
  padding: 1rem 1.5rem;
}

.phone__link:hover {
  color: #fff;
  background: none;
}

.footer {
  background: #1c3f95;
}

.footer__line {
  border-bottom: 1px solid #4664af;
}

.footer__nav-link:hover {
  color: #fff;
}

.footer__arrow {
  width: 40px;
  height: 60px;
  fill: #4c6bb7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__arrow:hover {
  cursor: pointer;
  fill: #ffd204;
}

.footer-navbar {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.footer-arrow-cont {
  padding: 50px;
  border-left: 1px solid #4664af;
}

.footer-footer {
  color: #3490dc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5rem 1.5rem;
}

.footer-footer__w {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-footer__w:hover {
  color: #ffd204;
}

.footer-footer__w-pad {
  padding-left: 10px;
}

.logo-footer {
  background: #1c3f95;
}

.company {
  background: -webkit-gradient(linear, left top, right top, color-stop(70%, #f7f7f7), color-stop(70%, #ffffff));
  background: linear-gradient(to right, #f7f7f7 70%, #ffffff 70%);
}

.company__img-wrapper {
  padding-top: 8rem;
  padding-right: 6rem;
  max-width: 920px;
  max-height: 880px;
  overflow: hidden;
}

.company__img {
  height: auto;
  width: 100%;
}

.company-descr {
  padding: 8rem 0 8rem 6rem;
  background: #ffffff;
}

.company-descr__item {
  padding-top: 2.5rem;
}

.company__link {
  -webkit-transition: .5s;
  transition: .5s;
  display: inline-block;
  background: #ffd204;
  margin-top: 30px;
}

.company__link:hover {
  border-radius: 20px;
  color: #fff;
  opacity: .8;
}

.counters {
  padding: 10rem 0;
}

.counters-item {
  text-align: center;
}

.counters__count {
  font: 9rem "Lato Bold", sans-serif;
}

.counters__descr {
  font-size: 1.8rem;
}

.header-slider {
  position: relative;
  overflow: hidden;
}

.header-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 100px;
  left: 30rem;
  position: absolute;
  padding: 0;
}

.header-slider .slick-active .header-slider__dot {
  border: 1px solid #fff;
  height: 14px;
  width: 14px;
  background: none;
}

.header-slider__dot {
  width: 10px;
  height: 10px;
  background: #7698ec;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
}

.header-slider-slide {
  overflow: hidden;
  position: relative;
  background: no-repeat  center center;
  background-size: cover;
  min-height: 300px;
  height: 49vw;
  max-height: 880px;
}

.header-slider-slide__descr {
  color: #ffffff;
  font: 9rem "Lato Bold", sans-serif;
  z-index: 2;
  line-height: 1;
  position: absolute;
  top: 30rem;
  left: 30rem;
  max-width: 800px;
}

.header-slider-slide__descr:before {
  content: '';
  position: absolute;
  top: 50px;
  right: 105%;
  display: block;
  height: 3px;
  width: 600px;
  background: #ffd204;
}

.header-slider-slide__link {
  -webkit-transition: all .5s;
  transition: all .5s;
  margin-top: 45px;
}

.header-slider-slide__link:hover {
  background: #ffd204;
  color: #000;
  border-radius: 25px;
}

@media (max-width: 1500px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 45%;
  }

  .news {
    padding-top: 4rem;
  }

  .header-slider .slick-dots {
    left: 5%;
  }

  .header-slider-slide__descr {
    left: 5%;
  }

  .header-slider-slide__descr:before {
    content: none;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 45%;
  }

  .logo img {
    width: 70px;
  }

  .navbar-nav-header {
    margin: 10px;
  }

  .nav-item {
    font-size: 14px;
    margin-top: 10px;
  }

  .header-slider-slide {
    height: 600px;
  }

  .header-navbar__link:after {
    content: none;
  }

  .company {
    background: #fff;
  }

  .company__img-wrapper {
    margin: 0 auto;
    padding: 40px 0 0 0;
    max-width: 800px;
  }

  .company-descr {
    padding: 0;
  }

  .company__link {
    margin-bottom: 2rem;
  }

  .news-arrows {
    display: none;
  }

  .news-slider .slick-current {
    top: 0;
  }

  .news-slider .slick-list {
    padding-bottom: 0 !important;
  }

  .news-title-block__all::before {
    content: none;
  }

  .footer-footer {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .footer-navbar {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer-arrow-cont {
    padding: 15px;
  }

  .logo-footer {
    padding: 1rem;
  }
}

@media (max-width: 759px) {
  html {
    font-size: 40%;
  }

  .header-slider-slide__descr {
    font-size: 7rem;
  }

  .services {
    padding: 5rem 0;
  }

  .counters {
    padding: 10px;
  }

  .counters-item {
    margin-top: 15px;
  }
}

.news {
  padding-top: 8rem;
  background: #1c3f95;
}

.news-title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4rem;
}

.news-title-block::before {
  content: '';
}

.news-title-block__all {
  position: relative;
  color: #ffd204;
  font: 1.4rem "Lato Regular", sans-serif;
  margin-right: 1.5rem;
}

.news-title-block__all:hover {
  color: #ffd204;
}

.news-title-block__all::before {
  -webkit-transition: all 1s;
  transition: all 1s;
  content: '';
  position: absolute;
  width: 70px;
  display: block;
  height: 1px;
  background-color: #ffd204;
  right: 120%;
  bottom: 45%;
}

.news-title-block__all:hover:before {
  right: 0;
  bottom: -5%;
}

.news-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 7.5rem;
}

.news-arrow {
  width: 6rem;
  height: 3rem;
  display: block;
  fill: #4f71c6;
  cursor: pointer;
}

.news-arrow:hover {
  fill: #ffd204;
}

.news-slider-slide {
  top: 0;
  position: relative;
  max-width: 860px;
  max-height: 500px;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
}

.news-slider-slide__descr {
  position: absolute;
  left: 6rem;
  bottom: 6rem;
  z-index: 2;
}

.news-slider-slide__text {
  font: 3rem "Lato Bold", sans-serif;
  margin-bottom: 30px;
  color: #fff;
}

.news-slider-slide__link {
  display: block;
  margin-left: 8rem;
  color: #ffd204;
  font: 1.4rem "Lato Regular", sans-serif;
}

.news-slider-slide__link:hover {
  opacity: .5;
  color: #ffd204;
}

.news-slider-slide__date {
  position: absolute;
  top: 10rem;
  right: 2rem;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: #fff;
  z-index: 2;
}

.news-slider .slick-current {
  top: 50px;
}

.news-slider .slick-list {
  height: auto !important;
  padding-bottom: 10rem !important;
}

.services {
  padding: 7.5rem 0;
  background: #f7f7f8;
}

.services-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6rem;
}

.services-item {
  padding: 0;
  position: relative;
  width: 40rem;
  height: 30rem;
  overflow: hidden;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.services-item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 2;
}

.services-item:hover .services-item__img:before {
  top: 0;
}

.services-item:hover .services-item__description {
  bottom: 3rem;
}

.services-item:hover .services-item__link {
  top: 1.5rem;
}

.services-item__img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.services-item__img::before {
  -webkit-transition: top .5s;
  transition: top .5s;
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(52, 73, 94, 0.75);
}

.services-item__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font: 3rem "Lato Bold", sans-serif;
  -webkit-transition: bottom .5s;
  transition: bottom .5s;
  bottom: 0;
  z-index: 3;
}

.services-item__link {
  color: #fff;
  position: relative;
  top: 1000px;
  border: 1px solid #ffd204;
  padding: 1rem 4rem;
  font-size: 1.8rem;
  margin-top: 10px;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.services-item__link:hover {
  color: #fff;
  border-radius: 25px;
}

