// footer
.footer {
    background: #1c3f95;
    &__line {
        border-bottom: 1px solid #4664af;
    }
    &__nav-link {
        &:hover {
            color: #fff;
        }
    }
    &__arrow {
        width: 40px;
        height: 60px;
        fill: #4c6bb7;
        display: flex;
        &:hover {
            cursor: pointer;
            fill: $yellow;
        }
    }
    &-navbar {
        align-items: stretch;

    }
    &-arrow-cont {
        padding: 50px;
        border-left: 1px solid #4664af;
    }
    &-footer {
        color: #3490dc;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2.5rem 1.5rem;
    }
    &-footer__w {
        display: flex;
        cursor: pointer;
        align-items: center;
        &:hover {
            color: $yellow;
        }
        &-pad {
            padding-left: 10px;
        }
    }
}
.logo-footer {
    background: #1c3f95;
}
