//fonts
@font-face {
    font-family: 'Lato Regular';
    src: url('/public/fonts/lato_regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato Bold';
    src: url('/public/fonts/lato_bold.ttf');
    font-weight: bold;
    font-style: normal;
}

$yellow: #ffd204;

// general
//
html,
body {
    height: 100%;
    font-size: 62.5%;
}
a:hover {
    text-decoration: none;
}
ul {
    list-style: none;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    font: 1.8rem "Lato Regular", sans-serif;
    max-width: 1920px;
    margin: 0 auto;
}
.link-btn {
    color: #fff;
    border: 1px solid $yellow;
    padding: 1rem 4rem;
    font-size: 1.8rem;
    cursor: pointer;
}
.main {
    flex: 1 0 auto;
}
.container-block {
    max-width: 1500px;
    margin: 0 auto;
}
.title {
    font: 6rem "Lato Bold", sans-serif;
    line-height: 1;
}
.title-center {
    text-align: center;
}
.title-left {
    text-align: left;
}
.title-padding {
    padding: 4rem 0;
}
.title-white {
    color: #fff;
}
.title-underline {
    position: relative;
    padding-bottom: 4rem;
    &:after {
        content: '';
        position: absolute;
        display: block;
        width: 80px;
        height: 2px;
        background: $yellow;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}
.title-underline-left {
    &:after {
        content: '';
        left: 0;
        bottom: 0;
        margin-left: 0;
    }
}
.blue-grad {
    &::after{
        background-image: linear-gradient(to top, #1c3f9591, transparent);
        background-color: rgba(0, 105, 143, 0.3);
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}

// end general
