.logo {
    display: block;
    padding: 2rem 6rem 2rem 0;
}
.logo-header {
    background: #fff;
    position: relative;
}
.logo-header__descr {
    position: absolute;
    font-size: 1.2rem;
    bottom: 12%;
    right: 22%;
}
.header-navbar {
    background: linear-gradient(to right, rgba(255,255,255,1) 50%, rgba(28,62,149,1) 50%);
    &__link {
        padding: 0 !important;
        position: relative;
        color: #ffffff;
        opacity: .5;
        transition: .5s;
        &:hover {
            color: #ffffff;
            opacity: 1;
        }
        &:hover:after {
            color: #ffffff;
            opacity: 1;
        }
        &:after {
            content: '';
            position: absolute;
            display: block;
            height: 3px;
            background: $yellow;
            width: 100%;
            opacity: 0;
            margin-top: 10px;
        }
    }
}
///////
.navbar-toggler-icon {
    background: #1c3f95;
    display: flex;
    width: 30px;
    height: 30px;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
    overflow: hidden;
    border: 2px solid $yellow;
}
.header-navbar__line {
    height: 2px;
    width: 100%;
    background: $yellow;
}
.navbar {
    padding: 0;
    background: #1c3f95;
}
.navbar-nav-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.phone {
    display: flex;
    color: #fff;
    white-space: nowrap;
    padding: 1.5rem;
    align-items: center;
    cursor: pointer;
    &__numbers {
        width: 100%;
        background: #153072;
    }
    &__link {
        color: #7698ec;
        font: 1.6rem "Lato Regular", sans-serif;
        padding: 1rem 1.5rem;
        &:hover {
            color: #fff;
            background: none;
        }
    }
}
