
// company

.company {
    background: linear-gradient(to right, #f7f7f7 70%, #ffffff 70%);
    &__img-wrapper {
        padding-top: 8rem;
        padding-right: 6rem;
        max-width: 920px;
        max-height: 880px;
        overflow: hidden;
    }
    &__img {
        height: auto;
        width: 100%;
    }
    &-descr {
        padding: 8rem 0 8rem 6rem;
        background: #ffffff;
    }
    &-descr__item {
        padding-top: 2.5rem;
    }
    &__link {
        transition: .5s;
        display: inline-block;
        background: $yellow;
        margin-top: 30px;
        &:hover {
            border-radius: 20px;
            color: #fff;
            opacity: .8;
        }
    }
}
