
// header slider
.header-slider {
    position: relative;
    overflow: hidden;
    & .slick-dots {
        display: flex;
        align-items: center;
        bottom: 100px;
        left: 30rem;
        position: absolute;
        padding: 0;
    }
    & .slick-active &__dot{
        border: 1px solid #fff;
        height: 14px;
        width: 14px;
        background: none;
    }
    &__dot {
        width: 10px;
        height: 10px;
        background: #7698ec;
        border-radius: 50%;
        margin-left: 10px;
        cursor: pointer;
    }
}

.header-slider-slide {
    overflow: hidden;
    position: relative;
    background: no-repeat  center center;
    background-size: cover;
    min-height: 300px;
    height: 49vw;
    max-height: 880px;
    &__descr {
        color: #ffffff;
        font: 9rem "Lato Bold", sans-serif;
        z-index: 2;
        line-height: 1;
        position: absolute;
        top: 30rem;
        left: 30rem;
        max-width: 800px;
        &:before {
            content: '';
            position: absolute;
            top: 50px;
            right:  105%;
            display: block;
            height: 3px;
            width: 600px;
            background: $yellow;
        }
    }
    &__link {
        transition: all .5s;
        margin-top: 45px;
        &:hover {
            background: $yellow;
            color: #000;
            border-radius: 25px;
        }
    }
}

// end header slider
