
//media

@media (max-width: 1500px) {
    html {
        font-size: 50%;
    }
}
@media (max-width: 1200px) {
    html {
        font-size: 45%;
    }
    .news {
        padding-top: 4rem;
    }
    .header-slider .slick-dots {
        left: 5%;
    }
    .header-slider-slide__descr {
        left: 5%;
        &:before {
            content: none;
        }
    }
}
@media (max-width: 992px) {
    html {
        font-size: 45%;
    }
    .logo img{
        width: 70px;
    }
    .navbar-nav-header {
        margin: 10px;
    }
    .nav-item {
        font-size: 14px;
        margin-top: 10px;
    }
    .header {
        &-slider-slide {
            height: 600px;
        }
        &-navbar__link {
            &:after {
                content: none;
            }
        }
    }
    .company {
        background: #fff;
        &__img-wrapper {
            margin: 0 auto;
            padding: 40px 0 0 0;
            max-width: 800px;
        }
        &-descr {
            padding: 0;
        }
        &__link {
            margin-bottom: 2rem;
        }
    }
    .news-arrows {
        display: none;
    }
    .news-slider .slick-current {
        top: 0;
    }
    .news-slider .slick-list {
        padding-bottom: 0 !important;
    }
    .news-title-block__all {
        &::before {
            content: none;
        }
    }
    .footer{
        &-footer {
            justify-content: space-around;
        }
        &-navbar {
            align-items: center;
        }
        &-arrow-cont {
            padding: 15px;
        }
    }
    .logo-footer {
        padding: 1rem;
    }

}

@media (max-width: 759px) {
    html {
        font-size: 40%;
    }
    .header-slider-slide__descr {
        font-size: 7rem;
    }
    .services {
        padding: 5rem 0;
    }
    .counters {
        padding: 10px;
        &-item {
            margin-top: 15px;
        }
    }
}


/////
