.news {
    padding-top: 8rem;
    background: #1c3f95;
    &-title-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4rem;
        &::before {
            content: '';
        }
        &__all {
            position: relative;
            color: $yellow;
            font: 1.4rem "Lato Regular", sans-serif;
            margin-right: 1.5rem;
            &:hover {
                color: $yellow;
            }
            &::before {
                transition: all 1s;
                content: '';
                position: absolute;
                width: 70px;
                display: block;
                height: 1px;
                background-color: $yellow;
                right: 120%;
                bottom: 45%;
            }
            &:hover:before{
                right: 0;
                bottom: -5%;
            }
        }
    }
    &-arrows {
        display: flex;
        justify-content: center;
        padding-bottom: 7.5rem;
    }
    &-arrow {
        width: 6rem;
        height: 3rem;
        display: block;
        fill: #4f71c6 ;
        cursor: pointer;
        &:hover {
            fill: $yellow
        }
    }
    &-slider-slide {
        top: 0;
        position: relative;
        max-width: 860px;
        max-height: 500px;
        overflow: hidden;
        transition: .5s;
        &__descr {
            position: absolute;
            left: 6rem;
            bottom: 6rem;
            z-index: 2;
        }
        &__text {
            font: 3rem "Lato Bold", sans-serif;
            margin-bottom: 30px;
            color: #fff;
        }
        &__link {
            display: block;
            margin-left: 8rem;
            color: $yellow;
            font: 1.4rem "Lato Regular", sans-serif;
            &:hover {
                opacity: .5;
                color: $yellow;
            }
        }
        &__date {
            position: absolute;
            top: 10rem;
            right: 2rem;
            transform: rotate(-90deg);
            color: #fff;
            z-index: 2;
        }
    }
}
.news-slider .slick-current {
    top: 50px;
}
.news-slider .slick-list {
    height: auto !important;
    padding-bottom: 10rem !important;
}
