
// services

.services {
    padding: 7.5rem 0;
    background: #f7f7f8;
}
.services-items {
    display: flex;
    margin-top: 6rem;
}

.services-item {
    $this: &;

    padding: 0;
    position: relative;
    width: 40rem;
    height: 30rem;
    overflow: hidden;
    transition: transform .5s;
    &:hover {
        transform: scale(1.1);
        z-index: 2;
    }
    &:hover #{$this}__img:before {
        top: 0;
    }
    &:hover #{$this}__description {
        bottom: 3rem;
    }
    &:hover #{$this}__link {
        top: 1.5rem;
    }
    &__img {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        &::before {
            transition: top .5s;
            content: "";
            height: 100%;
            width: 100%;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: rgba(52, 73, 94, 0.75);
        }
    }
    &__description {
        display: flex;
        position: relative;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        font: 3rem "Lato Bold", sans-serif;
        transition: bottom .5s;
        bottom: 0;
        z-index: 3;
    }
    &__link {
        color: #fff;
        position: relative;
        top: 1000px;
        border: 1px solid $yellow;
        padding: 1rem 4rem;
        font-size: 1.8rem;
        margin-top: 10px;
        cursor: pointer;
        transition: .5s;
        &:hover {
            color: #fff;
            border-radius: 25px;
        }
    }
}
